* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
}

aside {
    position: fixed;
    height: 100vh;
    width: 18%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgb(24, 24, 24);
}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.title img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #155dfb;
    box-shadow: 0 0 10px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 30px rgb(21, 93, 251, .4);
}

.title h1 {
    margin-top: 10px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.title h2 {
    color: rgb(21, 93, 251);
    font-size: 1.1rem;
    font-weight: 500;
}

.title h3 {
    color: rgb(255, 255, 255, .4);
    font-size: 14px;
    font-weight: 500;
}

.description {
    text-align: center;
    color: rgb(255, 255, 255, .4);
    font-size: 15px;
    font-weight: 400;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.main-nav-btn {
    display: flex;
    background-color: transparent;
    border: 2px solid rgb(21, 93, 251);
    border-radius: 5px;
    padding: 10px 14px;
    justify-content: space-between;
    align-items: center;
    color: rgb(21, 93, 251);
    box-shadow: 0 0 5px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
}

#main-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(21, 93, 251);
}

#main-btn i {
    font-size: 1.3rem;
    color: rgb(21, 93, 251);
}

#main-btn a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(21, 93, 251);
}

.main-bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(21, 93, 251);
}

.nav-btn {
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    justify-content: space-between;
    align-items: center;
}

.nav-btn:hover {
    border: 2px solid rgb(255, 255, 255, .4);
    transform: translateX(1.1);
}

.bullet {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 255, .4); */
}

#btn {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(255, 255, 255, .4);
}

#btn i {
    font-size: 1.3rem;
    color: rgb(255, 255, 255, .4);
}

#btn a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255, .4);
}

.page-right {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    width: 82%;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    background-color: #101010;
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-title {
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.mobile-title img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #155dfb;
    box-shadow: 0 0 10px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 30px rgb(21, 93, 251, .4);
}

.top-tag {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(21, 93, 251, .1);
    width: fit-content;
    padding: 8px 1rem;
    font-size: 1rem;
    color: rgb(21, 93, 251);
    font-weight: 500;
    border: 2px solid rgb(21, 93, 251);
    border-radius:32rem;
}

.left-hero h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 130%;
}

.color-title {
    color: rgb(21, 93, 251);
}

.top-description {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(255, 255, 255, .5);
    width: 34rem;
    line-height: 130%;
}

.hero-btns {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.view {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #155dfb;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    border: none;
    border-radius: 5px;
    padding: 14px 1.5rem;
    transition: .32S ease;
}

.view:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.view a,
.view i {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.download {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #1b1b1b;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    border: none;
    border-radius: 5px;
    padding: 14px 1.5rem;
    transition: .32S ease;
}

.download:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.download a,
.download i {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.right-hero {
    width: 27rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(21, 93, 251, .1), 0 0 115px rgb(21, 93, 251, .1), 0 0 120px rgb(21, 93, 251, .1);
}

.project-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.project-img i {
    position: absolute;
    font-size: 3.5rem;
    color: rgb(21, 93, 251);
    top: 14px;
    right: 14px;
    transition: .3s ease;
}

.project-img i:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.project-details {
    background-color: rgb(26, 26, 26);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.project-details h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.detail-description {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255, .5);
    line-height: 150%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tags p {
    width: fit-content;
    color: rgb(21, 93, 251);
    border: 1px solid rgb(21, 93, 251);
    border-radius: 1rem;
    padding: 3px 14px;
    transition: 0.32s ease all;
}

.tags p:hover {
    cursor: pointer;
    background-color: rgb(21, 93, 251, .3);
}

.project-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    background-color: rgb(17, 17, 17);
    gap: 3rem;
}

.project-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-head h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.project-head p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 130%;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.projects:hover {
    transition: .3s ease;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 25px rgb(21, 93, 251, .4);
    cursor: pointer;
    border: 2px solid rgb(21, 93, 251);
}

.projects-img1 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img2 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img3 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img4 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img5 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img6 {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.projects-img1 i,
.projects-img2 i,
.projects-img3 i,
.projects-img4 i,
.projects-img5 i,
.projects-img6 i {
    position: absolute;
    font-size: 2rem;
    color: rgb(21, 93, 251);
    top: 14px;
    right: 14px;
    transition: .3s ease;
}

.projects-img1 i:hover,
.projects-img2 i:hover,
.projects-img3 i:hover,
.projects-img4 i:hover,
.projects-img5 i:hover,
.projects-img6 i:hover {
    transform: translateY(-5px);
}

.project-detail {
    background-color: rgb(26, 26, 26);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.project-detail h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.details-description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 150%;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag p {
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    color: rgb(21, 93, 251);
    border: 1px solid rgb(21, 93, 251);
    border-radius: 1rem;
    padding: 3px 14px;
    transition: 0.32s ease all;
}

.tag p:hover {
    background-color: rgb(21, 93, 251, .3);
    cursor: pointer;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    background-color: rgb(18, 18, 18);
    gap: 3rem;
}

.about-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.about-header p,
.education p,
.professional-experience p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .8);
    line-height: 180%;
}

.about-header p span,
.education p span,
.professional-experience p span {
    color: #155dfb;
}

.education,
.professional-experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.education h1,
.professional-experience h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

hr {
    background-color: #101010;
}

.skill-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    background-color: rgb(17, 17, 17);
    gap: 3rem;
}

.skill-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.skill-header p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 130%;
}

.skills-container {
    display: flex;
    gap: 2rem;
}

.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #1A1A1A;
    width: 9rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: .3s ease;
}

.skills:hover {
    transform: translateY(-5px);
    border: 2px solid rgb(21, 93, 251);
    box-shadow: 0 0 15px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 25px rgb(21, 93, 251, .4);
}

.circle {
    height: 5rem;
    width: 5rem;
    background-color: rgb(19,38,42);
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0 0 15px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 25px rgb(21, 93, 251, .4);
}

.skills img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 1.25rem;
}

.tool {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.outer-loader {
    width: 100%;
    height: .6rem;
    border-radius: 10px;
    background-color: #2A3030;
}

.inner-loader {
    width: 85%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to right, rgb(21, 93, 251), rgb(236, 72, 153));
}

.percent {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(21, 93, 251);
    padding: 5px 10px;
    background-color: rgb(21, 93, 251, .1);
    border-radius: 1rem;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 12px rgb(21, 93, 251, .4);
}

.work-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    background-color: rgb(18, 18, 18);
    gap: 3rem;
}

.work-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1A1A1A;
    padding: 2rem;
    border-radius: 1rem;
    border-left: 5px solid #155dfb;
    transition: .3s ease;
}

.work:hover {
    cursor: pointer;
    transform: translateX(5px);
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 12px rgb(21, 93, 251, .4);
}

.work-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-top h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.work-top p {
    font-size: 1rem;
    font-weight: 500;
    color: #155dfb;
    background-color: rgb(21, 93, 251, .2);
    padding: 10px 1rem;
    border-radius: 3rem;
}

.work h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(21, 93, 251);
}

.bizpal-description {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 130%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    background-color: rgb(17, 17, 17);
}

.contact-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.contact-section p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 130%;
}

.contact-details {
    display: flex;
    gap: 3rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-email {
    align-items: center;
    width: 31rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: .3s ease;
}

.contact-email:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 12px rgb(21, 93, 251, .4);
}

.contact-email i {
    font-size: 2rem;
    background-color: rgb(21, 93, 251, .2);
    padding: 10px;
    color: rgb(21, 93, 251);
    border-radius: 7px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.email p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255, .5);
}

.email a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: .32s ease;
}

.email a:hover {
    color: rgb(21, 93, 251);
}

.message {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.message-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-details label {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255, .7);
}

.message-details input {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    width: 29rem;
}

.message-details textarea {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    width: 29rem;
}

.send-btn {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #155dfb;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    transition: .32s ease;
}

.send-btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.send-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.send-btn i {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

hr {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.2); /* red with 50% opacity */
}

footer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    background-color: rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .5);
    line-height: 130%;
}

.mobile-navigation {
    display: none;
    padding: 2rem 1rem;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 24, 24);
    width: 100%;
    box-shadow: 0 0 2px rgb(21, 93, 251, .4), 0 0 4px rgb(21, 93, 251, .4), 0 0 5px rgb(21, 93, 251, .4);
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 255, 255, .5);
    padding: 7px;
}

.mobile-nav:active {
    color: #fff;
    background-color: rgb(21, 93, 251);
    border-radius: 7px;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
}

.main-mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 7px;
    background-color: rgb(21, 93, 251);
    border-radius: 7px;
    box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
}

.main-mobile-nav i {
    font-size: 1.8rem;
}

.mobile-nav i {
    font-size: 1.8rem;
}

/* ========================= */
/* MOBILE RESPONSIVENESS */
/* ========================= */

@media (max-width: 768px) {
    
    /* general font */
    html {
        font-size: 80%;
    }

    aside {
        display: none;
    }
    
    /* General spacing */
    .page-right {
        margin-left: 0;
    }
    
    /* HERO SECTION */
    .hero {
        grid-template-columns: 1fr; /* stack */
        height: auto;
        padding: 2rem 1.5rem;
    }

    .top-tag {
        border: 1px solid rgb(21, 93, 251);
    }

    .mobile-title {
        display: flex;
    }

    .left-hero {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    
    .left-hero h1 {
        font-size: 2rem;
    }
    
    .top-description {
        width: 100%;
        font-size: 1rem;
    }
    
    .hero-btns {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .view,
    .download {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .right-hero {
        width: 100%;
    }
    
    /* PROJECT SECTION */
    .projects {
        box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    }

    .projects-list {
        grid-template-columns: 1fr; /* 1 per row */
    }
    
    .project-section {
        padding: 2rem 1.5rem;
    }

    .project-head {
        /* justify-content: center;
        align-items: center; */
    }
    
    /* ABOUT */
    .about-section {
        padding: 2rem 1.5rem;
    }

    .skill-section {
        padding: 2rem 1.5rem;
    }
    
    .skills-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .skills {
        width: 45%;
        box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    }

    .skills img {
        left: 3.62rem;
    }
    
    /* WORK */
    .work-section {
        padding: 2rem 1.5rem;
    }

    .skill-header {
        gap: 5px;
    }

    .work {
        justify-content: flex-start;
        padding: 1rem;
        box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    }

    .work-top {
        display: flex;
    }

    .work-top p {
        background-color: transparent;
    }
    
    /* CONTACT */

    .contact-section {
        padding: 2rem 1.5rem;
    }

    .contact-details {
        flex-direction: column;
    }
    
    .contact-email {
        width: 100%;
        box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    }

    .message-details input,
    .message-details textarea {
        width: 100%;
    }
    
    /* FOOTER */
    footer {
        padding: 2rem 1.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 9rem;
    }
    
    .mobile-navigation {
        display: flex;
    }

    .main-mobile-nav {
        box-shadow: 0 0 7px rgb(21, 93, 251, .4), 0 0 10px rgb(21, 93, 251, .4), 0 0 15px rgb(21, 93, 251, .4);
    }
}
